@media screen and (max-width: 1300px) {


header {
	max-width: 70%;	
}
.header_social i {
	font-size: 1.5em;
}
.rockstar_rodie {
	position: relative;
	left: 1em;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.container {
	max-width: 90%;
}
.rodie {
	margin-left: 3em;
}
.youtube_video {
	max-width: 70%;
}
.youtube_video iframe {
	height: 500px
}
}

@media screen and (max-width: 1200px) {
header {
	width: 67%;
}
.man_2_be {
	width: 45%;
}
.rockstar {
	width: 70%;
}
.rodie {
	width: 60%;
}
.rockstar_rodie {
	position: relative;
	left: -1.5em;
}
.container {
	max-width: 90%;
}
.audio_player {
	padding-bottom: 0em;
}
.youtube_video {
	max-width: 70%;
}
.youtube_video iframe {
	height: 480px
}
.footer_social {
	margin-top: 1em;
}
footer {
	margin-top: 2em;
	padding-bottom: 2em;
}
footer p {
	margin-top: 1em;
}
}

@media screen and (max-width: 1024px) {

.man_2_be img {
	width: 80%;
}
.man_2_be {
	display: flex;
	position: relative;
	left: 4em;
}
.rockstar {
	width: 65%;
}
.rodie {
	width: 55%;
}
.container {
	max-width: 95%;
}
.youtube_video {
	max-width: 75%;
}
.youtube_video iframe {
	height: 400px
}
.audio_player iframe{
	width: 80%;
}
.footer_social {
	margin-top: 1em;
	font-size: 1.8em;
}
footer p {
	font-size: 0.9em;
}
}

@media screen and (max-width: 945px) {

.header_social {
	font-size: 0.9em;
}
.man_2_be img {
	width: 70%;
}
.man_2_be {
	display: flex;
	position: relative;
	left: 5em;
}
.rockstar {
	width: 55%;
	position: relative;
	left: 3%;
}
.rodie {
	width: 45%;
}
.container {
	max-width: 95%;
}
.youtube_video {
	max-width: 75%;
}
.youtube_video iframe {
	height: 400px
}
.audio_player {
	padding-bottom: 15%;
}
.audio_player iframe{
	width: 75%;
}
.footer_social {
	margin-top: 1em;
	font-size: 1.5em;
}
.label_logo img {
	width: 8%;
}
footer p {
	font-size: 0.9em;
}

}

@media screen and (max-width: 768px) {
.wrap {

}
header {
	width: 60%;
}
.header_social {
	font-size: 0.9em;
}

.man_2_be img {
	width: 70%;
}
.man_2_be {
	display: flex;
	position: relative;
	left: 5em;
}
.rockstar {
	width: 55%;
	position: relative;
	left: 3%;
}
.rodie {
	width: 45%;
}

.container {
	max-width: 100%;
}
.container_item {
	margin-left: em;
}
.container p {
	font-size: 100%;
}

.youtube_video {
	max-width: 75%;
}
.youtube_video iframe {
	height: 400px
}
.audio_player {

}
.youtube_video {
	margin-top: 0%;
}
.audio_player iframe{
	width: 70%;
}
.footer_social {
	margin-top: 1em;
	font-size: 1.3em;
}
.label_logo img {
	width: 8%;
}
footer p {
	font-size: 0.8em;
}
	
}

@media screen and (max-width: 425px) {
.wrap {
	background: url(../img/small.jpg) 40% no-repeat;
	background-size: cover;
}
header {
	padding-top: 15%;
	width: 100%;
}
.header_social {
	position: relative;
	left: 10px;
	font-size: 0.7em;
}
.new_single {
	text-align: right;
	position: relative;
	right: 10%;
}
.man_2_be img {
	width: 50%;
}
.man_2_be {
	left: 52%;
}
.rockstar_rodie {
	margin-top: 5%;
}
.rockstar_rodie img {
	position: relative;
	left: 25%;
}
.rockstar {
	width: 45%;
}
.rodie {
	width: 35%;
}
.get_now {
	position: relative;
	text-align: right;
	right: 2%;
}

.container p {
	font-size: 75%;
}
.footer_social {
	margin-top: 1em;
	font-size: 1em;
}
.label_logo img {
	width: 8%;
}
footer p {
	font-size: 0.7em;
}
.youtube_video {
	max-width: 90%;
}
.youtube_video iframe {
	height: 250px;
}
.audio_player {
	text-align: center;
}
.audio_player iframe {
	width: 90%;	
}
}

@media screen and (max-width: 320px) {

	.audio_player iframe {
		width: 90%;
		margin: 0;
	}
	.audio_player {
		text-align: center;
	}
	.youtube_video iframe {
		height: 200px;
	}
}