* {
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	font-size: 100%;
}
ss
a {
	text-decoration: none;
	color: #000000;
}

.a-i {
	max-width: 100%;
	height: auto;
}
/*
.background {
       	position: absolute;
        z-index: -1;
        top:-20px;
        left:0; 
        min-width:100%;
        min-height:100%;
        display: inline-block;
}
*/
.theme_header {
	background: url(img/header.jpg) no-repeat;
	background-size: 100% 100%;
	height: 205px;
}



 /*.header_bg {
       	
    position: absolute;
    z-index: -1;
    top:0;
    left:0; 
    display: inline-block;
}*/

/* .ls-bg {
    position: absolute;
    z-index: -1;
    top:12.8em;
    left:0.4em; 
    display: inline-block;
 	min-height: 100%;
 	height: 100%;
 	width: 8.7%;

}

.rs-bg {
	position: absolute;
    z-index: -1;
    top:12.8em;
    right: -0.8%; 
    display: inline-block;
	min-height: 100%;
	height: 100%;
} */



.theme_content {
	max-width: 100%;
	background: url(img/lside.jpg) repeat-y -0.31% 0, url(img/rside.jpg) repeat-y 100.4% 0;
	background-size: 13%;
	min-width: 100%;
	background-color: #f1ddab;
} 

.start {
	display: flex;
	margin-left: 14.27%;
	align-items: center;
}

.start img {
	width: 50px;
	height: 50px;
}

.start p {
	padding-left: 5%;
	font-size: 2.8em;
}

.border_1 {
	border-left: 2px solid #d0c395;
	height: 130px;
	width: 2px;
	margin-left: 15.7%;
	margin-top: 20px;
}

.second_step {
	display: flex;
	margin-left: 14.27%;
	margin-top: 20px;
	font-size: 2.8em
}

.second_checkpoint {
	background: #637B8A;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	color: #fff;
}

.second_checkpoint p {
	text-align: center;
	font-size: 0.8em;
	position: relative;
	top: 3px;
	right: 1.5px;
}

.second_step p {
	padding-left: 5%;
}

.city {
	border-left: 2px solid #d0c395;
	height: 300px;
	margin-left: 15.7%;
	margin-top: 2px;
	padding-top: 20px;
	display: flex;
	flex-direction: column;
}

select {
	background: transparent;
	border: none;
	border-bottom: 1px solid red;
	color: red;
	width: 40%;
	font-size: 2em;
   
}

.form {
	margin-top: 60px;
	margin-left: 7.8%;
	font-size: 1.4em;
	display: flex;
	flex-direction: column;
}

.form span {
	color: red;
}

.city_button {
	margin-top: 50px;
	margin-left: 28%;
}
.city_button a {
	font-size: 1.3em;
	padding-right: 8%;
}

.third_step {
	display: flex;
	margin-left: 14.27%;
	align-items: center;
	margin-top: 30px;
}

.third_step p {
	padding-left: 5%;
	font-size: 2.8em;
	color: #6d664e;
}

.third_checkpoint {
	background: #6D664E;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.third_checkpoint p {
	text-align: center;
	font-size: 2.3em;
	position: relative;
	top: 3px;
	right: 1px;
	color: #fff;
}

.border_2 {
	border-left: 2px solid #d0c395;
	height: 130px;
	width: 2px;
	margin-left: 15.7%;
	margin-top: 20px;
}

.fout_step {
	display: flex;
	margin-left: 14.27%;
	align-items: center;
	margin-top: 30px;
	padding-bottom: 20px;
}

.fout_step p {
	padding-left: 5%;
	font-size: 2.8em;
	color: #6d664e;
}
.four_checkpoint {
	background: #6D664E;
	border-radius: 50%;
	width: 50px;
	height: 50px;
}

.four_checkpoint p {
	text-align: center;
	font-size: 2.3em;
	position: relative;
	top: 3px;
	right: 3px;
	color: #fff;
}

/*.theme_footer {
	background: url(img/footer.jpg) no-repeat ;
	background-size: 100% 100%;
	height: 25vh;
}
*/


@media screen and (max-width: 23.5em ) {
	body {
		font-size: 50%;
	}

	.border_1 {
	border-left: 2px solid #d0c395;
	height: 70px;
	margin-left: 17.38%;
	margin-top: 20px;
	}

	.start img {
		width: 25px;
		height: 25px;
	}
}