@font-face {
	font-family: 'ProximaNovaLT'; 
	src: url("../fonts/ProximaNova LT/ProximaNova-Light.eot"); 
	src: url("../fonts/ProximaNova LT/ProximaNova-Light.eot?#iefix") format("embedded-opentype"),
	url("../fonts/ProximaNova LT/ProximaNova-Light.woff") format("woff"), 
	url("../fonts/ProximaNova LT/ProximaNova-Light.ttf") format("truetype"); 
	font-style: normal; 
	font-weight: normal; 
}

@font-face {
	font-family: 'ProximaNovaBold';
	src: url('../fonts/ProximaNova Bold/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova Bold/ProximaNova-Bold.woff') format('woff'),
	url('../fonts/ProximaNova Bold/ProximaNova-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaSemibold';
	src: url('../fonts/ProximaNova Semibold/ProximaNova-Semibold.eot');
	src: url('../fonts/ProximaNova Semibold/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova Semibold/ProximaNova-Semibold.woff') format('woff'),
	url('../fonts/ProximaNova Semibold/ProximaNova-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'ProximaNovaRegular';
	src: url('../fonts/ProximaNova Regular/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova Regular/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/ProximaNova Regular/ProximaNova-Regular.woff') format('woff'),
	url('../fonts/ProximaNova Regular/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}