/* ----------------------------------- PC --------------------------------------*/

@media screen and (max-width: 96em) {
	body {
		font-size: 90%;
	}
	
	.footballer-img {
		width: 41.8%;
	}

	.basketballer-img {
		width: 56%;
		top: 1%;
	}
}

@media screen and (max-width: 85.375em) {
	body {
		font-size: 80%;
	}
	
	.footballer-img {
		width: 44.2%;
	}

	.basketballer-img {
		width: 57%;
	}
}

@media screen and (max-width: 78.75em) {
	body {
		font-size: 70%;
	}

	.mid_img-line {
	left: 24%;
	bottom: -70px;
	}

	.footballer-img {
		width: 45.7%;
	}

	.basketballer-img {
		width: 59%;
		top: 1%;
	}

}

@media screen and (max-width: 64em) {
	
	body {
		font-size: 65%;
	}

	.footballer-img {
		width: 50%;
		top: 12%;
		left: 5%;
	}

	.basketballer-img {
		width: 64%;
	}

}

@media screen and (min-width: 1920px) {
	.block_1_img, .block_4_img, .block_5_img {
		width: 100%;
	}
}