@import url('fonts.css');

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 100%;
}

a {
	text-decoration: none;
	color: #fff;
}

.adaptive-img {
	max-width: 100%;
	height: auto;
}

.container {
	max-width: 100%;
	min-width: 20em;
}

.wrap {
	width: 80.5%;
	padding: 0 0.9375em;
	margin: 0 auto;
}

.header {
	background: #0a0e34;
	position: relative;
}

.header::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/football.png);
	background-size: cover;
	z-index: 1;
}

.header__wrap {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
}

.header__top {
	display: flex;
	justify-content: space-between;
	padding: 3.375em 0;
	align-items: center;
}

.header__text p {
	font-family: 'ProximaNovaLT';
	color: #ffffff;
	font-size: 0.875em;
	font-weight: 300;
	line-height: 2.155625em;
	text-transform: uppercase;
	letter-spacing: 0.7px;
}

.header__mid {
	padding-top: 18.75em;
	position: relative;

}

.header__mid h1 {
	font-family: 'ProximaNovaBold';
	color: #ffffff;
	font-size: 4.875em;
	font-weight: 700;
	text-transform: uppercase;
}

.header__mid__p1 {
	position: relative;
	z-index: 3;
}

.header__mid__p1 h1{
	letter-spacing: 4.96px;
}

.mid_img-line {
	position: absolute;
	left: 25%;
	top: 25%;
	z-index: 2;
}

.header__mid__p2 {
	display: flex;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: relative;
	z-index: 1;
}

.header__mid__p2 h1 {
	letter-spacing: 4.5px;
}

.mid__games {
	display: flex;
	width: 37.3%;
	justify-content: space-between;
	flex-wrap: wrap;
}

.mid__games p {
	color: #9071ea;
	font-family: 'ProximaNovaLT';
	font-size: 0.875em;
}

.header__btn {
	display: flex;
	padding-top: 11.3125em;
	margin: 0 auto;
}

.btn {
	box-shadow: 0 16px 24px #0a0e34;
	background-color: #5e42b0;
	color: #fff;
	padding: 1.1875em 3.9375em 1.1875em 2.9375em;
	display: flex;
	align-items: center;
	border-radius: 100px;
	font-family: 'ProximaNovaLT';
	font-size: 0.875em;
	font-weight: 300;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	border-style: none;
	margin-bottom: 6.875em;
	margin-left: 3.125em;
}

.btn span {
font-family: 'ProximaNovaSemibold';
font-weight: 400;
display: flex;
}

.btn img {
	margin-right: 1.6875em;
}

button:hover {
	background: #4F33A1;
}

button:active {
	background: #5e42b0;
}


.athlets {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	z-index: 1
}


.connection {
	padding-top: 7.0625em;
}

.title {
	padding-bottom: 96px;
	font-family: 'ProximaNovaBold';
	font-size: 5.625em;
  	color: rgb(231, 231, 231);
  	line-height: 0.667;
}

.connect {
	font-family: 'ProximaNovaBold';
	font-size: 2.25em;
	color: rgb(193, 193, 193);
  	text-transform: uppercase;
  	line-height: 0.958;
  	margin-bottom: 33px;
}

.connect span {
	font-size: 18px;
  	color: rgb(0, 0, 0);
  	text-transform: uppercase;
  	line-height: 1.916;
	position: relative;
	bottom: 11px;
	margin-right: 13px;
	border-bottom: 5px solid #5e42b0;
}

.paragraph {
	padding-bottom: 65px;
	font-family: 'ProximaNovaRegular';
	font-size: 1.25em;
	color: rgb(0, 0, 0);
    line-height: 1.4;
}

.collaboration {
	padding-top: 4.0625em;
	background: #f6f4fa;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.ath_pad {
	width: 45%;
}

.growth_athlets {
	background: #5e42b0;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.growth-content {
	padding-top: 5.75em;
}

.growth-content p {
	color: #fff;	
}

.growth-content span {
	border-color: #fff;
}

.footballer-img {
	position: absolute;
	left: 10%;
	top: 6.875em;
	z-index: 2;
	height: 1105px;
	width: 725px;
}

.players {
	display: flex;
	flex-direction: column;
	position: relative;
}

.players_w {
	padding-left: 16.8%;
}

.collaboration_players {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	width: 100%;
	background: #f5f6f7;
}

.player_growth {
	padding-top: 93px;
	background: #0a0e34;
}

.player_growth p {
	color: #fff;	
}

.player_growth span {
	border-color: #fff;
	color: #9173e6;
}

.p_growth {
	padding-bottom: 91px;
}

.basketballer-img {
	position: absolute;
	right: 5%;
	top: -20px;
	z-index: 2;
	width: 991px;
	height: 815px;
}

.block {
	display: flex;
	flex-wrap: wrap;
}

.block-part {
	width: 50%;
}

.block-part h1 {
	font-family: 'ProximaNovaBold';
	font-size: 5em;
 	color: rgba(193, 193, 193, 0.4);
	text-transform: uppercase;
}

.block-part p {
	font-family: 'ProximaNovaRegular';
	font-size: 1.5em;
  	color: rgb(0, 0, 0);
  	line-height: 1.167;
}

.block-part img {
	display: block;
}

.block_2_6 {
	display: flex;
	align-items: center;
}

.block_2_6 h1 {
	margin-bottom: 16.43835616438356%;
}


.block_2_6_content {	
	margin-left: 13.54166666666667%;
}

.block_3 {
	display: flex;
	align-items: center;
	position: relative;
}

.block_3_content {
	margin-left: 20.10416666666667%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.mini_block {
	position: absolute;
	width: 20%;
	height: 24.37%;
	background: #5e42b0;
	top: 25%;
	right: -10%;
	z-index: 33;
	display: flex;
	align-items: center;
	justify-content: center;
}

.mini_block p {
	border-bottom: 5px solid #8f7bc8;
	font-size: 1.5em;
 	font-family: 'ProximaNovaBold';
  	color: rgb(245, 246, 247);
 	text-transform: uppercase;
  	line-height: 1.437;
}

.block_1 {
	position: relative;
}
 
.block_5 {
	position: relative;
}

.mb_2 {
	height: 27.7%;
	top: 29%;
}

.mb_3 {
	height: 27.52%;
	top: 23%;
}

.footer {
	background: #0a0e34;
	display: flex;
	align-items: center;
	flex-direction: column;
	position: relative;
	z-index: 2;
}

.footer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/stadion.png);
	background-size: cover;
	z-index: 1;	
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 72px 0 67px 0;
	position: relative;
	z-index: 3;
}

footer::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	display: block;
	background: url(../img/Rectangle.png);
	background-size: cover;
	z-index: 1;	
}

.contact_us {
	display: flex;
	color: #fff;
	font-size: 1.25em;
  	font-family: 'ProximaNovaRegular';
  	line-height: 1.2;
  	padding-right: 3.125%;
  	z-index: 2
}

.social_icons {
	width: 7.13541666666667%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 4%;
	z-index: 2;
}

.footer_top {
	display: flex;
	padding-top: 229px;
	width: 100%;
	justify-content: center;
	z-index: 2;
}

.ftop_text {
	margin-left: 1.5%;
}

.ftop_text h1 {
	font-size: 5.6em;
 	font-family: 'ProximaNovaBold';
  	color: rgb(255, 255, 255);
  	text-transform: uppercase;
  	line-height: 0.667;
}

.ftop_text  p {
  font-size: 2.25em;
  font-family: 'ProximaNovaBold';
  color: rgb(164, 150, 202);
  text-transform: uppercase;
}

.ftop_logo {
	position: relative;
	bottom: 20px;
}

.footer_btn {
	display: flex;
	padding-top: 150px;
	z-index: 2;
}

.footer_logo {
	padding-left: 2.70416666666667%;
	z-index: 2;
}

.slider {
	display: none;
}

.athlets_block, .players_block {
	display: none;
}

