*{
	margin: 0px;
	padding: 0px;
	text-decoration: none;
	color: #ffffff;
}

.container_1 {
	width: 100%;
	min-width: 1100px;
	background: url(images/background1.png) no-repeat center center;
	background-size: cover;
	display: flex;
	flex-direction: column;
}

header {
	height: 116px;
	border-bottom: 1px solid #757575;
	display: flex;
}

.header-logo {
	background: url(images/logo_shadow.png) no-repeat right bottom;
	width: 80px;
	height: 77px;
	margin-top: 21px;
	margin-left: 13.4375%;
	float: left;
	position: absolute;
}

.main-nav {
	display: flex;
	margin-left: 34.375%;
	font-size: 1.25em;
	margin-top: 56px;
	width: 42.625%;
	justify-content: space-between;

}

.main-nav a{
	display: block;
}

.main-nav a:hover {
	border-bottom: 5px solid #11749e;
}

.social-icon {
	margin-left: 8.6400%;
	width: 8.875%;
	margin-top: 56px;
	display: flex;
	justify-content: space-between;
}

.creatives {
	margin-top: 277px;
	margin-left: 24.625%;
	font-size: 9.5em;
	width: 51.375%;
	height: 167px;
	display: flex;
	justify-content: center;
}

.powered_by {
	width: 53.9%;
	height: 1.5625em;
	margin-left: 24%;
	font-size: 1.55em;
	display: flex;
	white-space: nowrap;
	justify-content: center;
}
.powered_by p {
	color: #11749e;
	letter-spacing: 20px;
}

.scroll_down_1 {
	margin-top: 119px;
	margin-left: 47.75%;
	width: auto;
	font-size: 0.8125em;
}

.scroll_button {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 22px;
	border: 1px solid white;
	height: 4.0625em;
	width: 4.0625em;
	border-radius: 50%;
	font-size: 1.25em;
}
.scroll_button p:hover {
	color: red;
}

.we_are {
	display: flex;
	font-size: 2.346875em;
	margin-top: 284px;
	margin-left: 34%;
	width: 34.6875%;
	white-space: nowrap;
	justify-content: center;
	
}
	/*------------------ Container About Us -------------------*/
	
.container_about {
	width: 100%;
	min-width: 1100px;
	display: flex;
	height: 510px;
	background-color: #000000;
	justify-content: center;
	align-items: center;

}

.about {
	display: flex;
	width: 73%;
	justify-content: space-between;

}
.about div {
	display: flex;
	width: 16.4%;
	flex-wrap: wrap;
	justify-content: center;
}

.about h3 {
	font-size: 1.125em;
	margin-top: 52px;]
	white-space: nowrap;
}
.about p {
	font-size: 0.9375em;
	margin-top: 34px;
}

	/*------------------- Container 2 ---------------- */

.container_2 {
	width: 100%;
	min-width: 1100px;
	display: flex;
	flex-wrap: wrap;
	height: 950px;
}

.part-one {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	width: 50%;
	height: 50%;
	background: url(images/Rectangle.jpg);
}

.part-one-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 26.25%;
	width: 57.75%;
}

.date-one {
	font-size: 0.8125em;
	margin-top: 112px;
}

.part-one h1 {
	color: #ffffff;
	margin-top: 19px;
	font-size: 1.5625em;
}

.Cum  {
	margin-top: 44px;
	font-size: 0.9375em;
}

.Donec {
	margin-top: 34px;
	font-size: 0.9375em;
}

.part-two {
	display: flex;
	width: 50%;
	height: 50%;
	background: url(images/Layer.jpg) no-repeat center center;
	background-size: cover;
}

	/*------------- Part - three ---------------*/

.part-three {
	width: 50%;
	height: 50%;
	background: url(images/Layer_2.jpg) no-repeat center center;
	background-size: cover;
}

	/*------------- Part - four ---------------*/

.part-four {
	display: flex;
	display: flex;
	flex-direction: column;
	width: 50%;
	background: url(images/Rectangle_2.jpg) no-repeat center center;
	background-size: cover;
}

.part-four-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin-left: 9.875%;
	width: 57.875%;
	margin-top: 107px;
	color: #222222;
}
.part-four p , h1 {color: #222222;}

.date-two {
	font-size: 0.8125em;
}

.part-four h1 {
	margin-top: 19px;
	font-size: 1.5625em;
}

.Cum-2{
	margin-top: 44px;
	font-size: 0.9375em;
}

.Donec-2 {
	margin-top: 34px;
	font-size: 0.9375em;
}








